@use "../../App.scss" as constant;

#pill-switch {
  display: inline-flex;
  position: relative;

  &.checked {
    .true {
      color: constant.$color_white;
      background: constant.$color_blue;
    }
  }

  &.unchecked {
    .false {
      color: constant.$color_white;
      background: constant.$color_blue;
    }
  }

  .custom-switch-button {
    content: "";
    position: absolute;
    top: 5px;
    width: 17px;
    height: 17px;
    transition: 0.2s;
    background: constant.$color_blue;
    border-radius: 40px;
    cursor: pointer;
    left: calc(100% - 2px);
  }

  .custom-switch-checkbox {
    display: none;
  }

  .custom-switch-label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 35px;
    height: 26px;
    border: 1px solid constant.$color_blue;
    transition: background-color 0.2s;
    color: constant.$color_blue;
    background: constant.$color_white;

    &.true {
      border-radius: 20px 0 0 20px;
      border-right: 0;
    }

    &.false {
      border-radius: 0 20px 20px 0;
    }
  }
}
